[defaults]
interpreter_python = auto_legacy_silent
forks = 4
remote_user = ansible
host_key_checking = false
log_path = logs/ansible-run.log
any_errors_fatal = false

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = false

# Run:
#   ansible-playbook -i hosts.yml site.yml --vault-password-file=../vault-pass
# Skip stackoverflow restore:
#   ansible-playbook -i hosts.yml site.yml --vault-password-file=../vault-pass --skip-tags restore
